<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<body>

<title>搜狐Teting-首页</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="Shortcut Icon" href="static/images/logo_50x34.png" />

<!-- 页签图标 -->

<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/static/js/mouse.js"></script>


<!-- CuFon ends -->
</head>
<body>

	<div class="main">
		<div class="header">
			<div class="header_resize">
				<div class="logo">
					<h1>
						<img src="/static/images/logo.png" width="190px" height="55px"><small>测试是一个很必要且很重要的环节</small>
					</h1>
				</div>
				<div class="menu_nav">
					<ul>
						<li class="active"><a href="index.html"><span>首页</span></a></li>
						<li><a href="service.html"><span>服务支持</span></a></li>
						<li><a href="tools.html"><span>工具分享</span></a></li>
					
						<li><a href="contact.html"><span>关于我们</span></a></li>
					</ul>
				</div>
				<div class="clr"></div>

				<div class="clr"></div>
				<div class="/static/images/header_img"></div>


			</div>
		</div>
		<div class="clr"></div>
		<div class="content">
			<div class="content_resize">
				<div class="indexbar">
					<div class="article">
						
						<div class="clr"></div>
						
						<img src="http://sohutest.cdn.sohusce.com/index.png" width="910" height="300" alt="image" class="fl" />
						<p></p>
						
					</div>
					<p>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;软件测试就是利用测试工具按照测试方案和流程对产品进行功能和性能测试，甚至根据需要编写不同的测试工具，设计和维护测试系统，对测试方案可能出现的问题进行分析和评估。执行测试用例后，需要跟踪故障，以确保开发的产品适合需求。</p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们为搜狐多个核心项目提供各方面的测试服务，典型的产品线包括PassPort，搜狐私有云，搜狐云存储，我的搜狐，畅言，搜狐企业邮箱，CMS等等。我们有完善的性能测试和自动化测试解决方案，根据您的需求定制测试计划。				</p>
					<div id="index0"><p></p><p></p><p></p><p><strong>合作站点：</strong><a href="http://www.51testing.com" target="_blank">51Testing测试网</a>|<a href="http://www.ltesting.net/" target="_blank">领测国际</a>|<a href="http://www.51sqae.com/portal.php" target="_blank">中国软件测试联盟</a>|<a href="http://www.taobaotest.com" target="_blank">淘测试</a>|<a href="http://www.testin.cn"  target="_blank">Testin云测试</a></p>
					<p></p>	</div>
					<div id="index1"></div>
				</div>
				
				<div class="clr"></div>
			</div>
		</div>
		<div class="fbg">
			<div class="fbg_resize">
				<div class="col c1">
					<h2>
						<span>我们的生活</span>
					</h2>
						
						
						 <a href="http://img.itc.cn/photo/j0lAvJfvDXv" target="_blank"><img
						src="/static/images/gallery_4.jpg" width="58" height="58" alt="pix" /></a> <a
						href="http://img.itc.cn/photo/j0lCNpeED1k" target="_blank"><img src="/static/images/gallery_5.jpg" width="58"
						height="58" alt="pix" /></a> <a href="http://img.itc.cn/photo/jkZmx1W6ycL" target="_blank"><img
						src="/static/images/gallery_6.jpg" width="58" height="58" alt="pix" /></a>
					
				</div>
				<div class="col c2">
					<h2>
						<span>业界动态</span>
					</h2>
					
				</div>
				
				<div class="col c3">
					<h2>
						<span>关注我们</span>
					</h2>

								<a href="" target="_blank"><img
							src="/static/images/line.png" alt="line"  width="48px" height="48px"/></a>
								<a href="" target="_blank"><img
							src="/static/images/baidu.png"   width="48px" height="48px"/></a>
								<a href="" target="_blank"><img
							src="/static/images/google.png" alt="google+"  width="48px" height="48px"/></a>
							<a href="" target="_blank"><img
							src="/static/images/facebook.png" alt="FB"  width="48px" height="48px"/></a><br>
					
				</div>
				<div class="clr"></div>
			</div>
			
			<div class="footer">
				<!-- <p class="lr">
					<a href="http://www.sohu.com">搜狐</a> © Copyright 20130808
				</p> -->
				<p class="lf">
				
				</p>
				<div class="clr"></div>
			</div>
		</div>
		
	</div>

</body>
</html>