{% extends "base.html" %}
{% block mainbar %}

    <form method="post">
        {% csrf_token %}
        <div class="loginleft">
            <div class="logintitle">
                <span class="ftitle"><h3>用户登录</h3></span>
                <span class="ftbg">
                    {% if form.errors %}
                      <font color="red">请输入一个正确的用户名和密码,注意区分大小写!</font>
                    {% endif %}
                </span>
                <hr>
                <form name='form1' method='POST'>
                    <ul class="logininfo">
                        <li><span>用户名</span><input class="inputbtn" id="txtUsername" name="username"/></li>
                        <li><span>密码</span><input type="password" class="inputbtn" id="txtPassword" name="password"/>
                        </li>
                        <li><span>&nbsp;</span><input name="keeptime" type="checkbox" value="2592000"/>&nbsp;&nbsp;在这台电脑上记住我&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a
                                href="/member/resetpassword.php">忘记密码?</a></b></li>
                        <li><span>&nbsp;</span><input name="submit" type="submit" class="ulogin" value="登录"/><input
                                name="" type="button" class="ureg" onclick="window.location.href='/member/reg_new.php'"
                                value="注册"/></li>
                    </ul>
                </form>
            </div>

        </div>
    </form>
{% endblock mainbar %}



